// this is the styling, responsible for index.html (main page, landing page etc. whatever you wanna call it)

@use "../use" as *;

#index {
  background: url("/img/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section_one {
  height: 100vh;

  & .container {
    height: 100%;
    @include flex(flex, center, center, column);

    & .title img {
      max-width: 100%;
      max-height: 100%;
      height: 400px;

      @include max-md {
        height: auto;
      }
    }

    & .title_names {
      color: $light;
      text-align: center;
      font-weight: 100;
      font-size: 1.3rem;
    }
  }
}

h2 {
  color: $light;
  font-size: 2.5rem;
  font-weight: 100;

  @include max-md {
    text-align: center;
  }
}

.section_two {
  height: 100vh;
}

.section_three {
  height: 100vh;
}

.section_four {
  height: 100vh;
}
