main {
  background-color: $dark;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 10px;
  @include flex(flex, center, center, column);
  height: 100vh;

  &__title {
    font-size: 10rem;
    position: relative;
    text-align: left;
    margin-bottom: 1rem;
    background-image: url("/designerds/img/reedo-yaado-boilerplate-bg.jpg");
    background-repeat: repeat;
    background-clip: text;
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      text-shadow: 2px 2px 0px #fff;
    }

    @include lg {
      font-size: 3.5rem;
    }
  }
}
