@use "../use" as *;

// .main-content: include this on every <main> tag, to avoid content sliding behind the navbar
.main-content {
  margin-top: 4.3rem;
}

section {
  padding: 2rem 0;
}

.row {
  @include gridColumn;

  & .column-1 {
    order: 1;
  }

  & .column-2 {
    order: 2;
  }
}

.section-heading {
  margin: 2rem 0;
  text-align: center;
}

.grey-back {
  background-color: $light;
}

.fluid {
  max-width: 100%;
  height: auto;
}

.flexCentered {
  @include flex(flex, flex-start, center, column);
}
