@use "../use" as *;

// .main-content: include this on every <main> tag, to avoid content sliding behind the navbar

.row {
  @include gridColumn;

  & .column-1 {
    order: 1;
  }

  & .column-2 {
    order: 2;
  }
}

.fluid {
  max-width: 100%;
  height: auto;
}

.flexCentered {
  @include flex(flex, flex-start, center, column);
}
