@use "variables" as *;

// Default :root font-size for rem

// 1rem = 14px
// 2rem = 28px
// xrem = x * 14px

:root {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 2rem;
}

p {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: $grey;
  text-align: justify;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}
